flow.json
[
  {
    "id": "97dab310324f717a",
    "type": "function",
    "z": "4076b6a82d7e7c42",
    "name": "Classificar Nível",
    "func": "// Parse do nível\nlet nivel = parseInt(msg.payload);\nif (isNaN(nivel)) return null;\n\nlet status = \"\";\nlet cor = \"blue\";\n\nif (nivel <= 1500) {\n    status = \"Baixo\";\n    cor = \"red\";\n} else if (nivel <= 3000) {\n    status = \"Médio\";\n    cor = \"orange\";\n} else {\n    status = \"Alto\";\n    cor = \"green\";\n}\n\nreturn [\n    { payload: nivel, topic: \"nivel\" }, \n    { payload: status }, \n    { payload: { background: cor, label: `Status: ${status}` } }, \n    { payload: \"\" }\n];",
    "outputs": 5,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 120,
    "wires": [
      ["a4e2cf2b8c4b38cb"],
      ["e6b968d7e836a844"],
      ["a2e0a651d7dbabca"],
      [],
      ["f3c8f6415859353b"]
    ]
  },
  {
    "id": "a4e2cf2b8c4b38cb",
    "type": "ui_gauge",
    "z": "4076b6a82d7e7c42",
    "name": "Gauge Nível",
    "group": "45d04c16074a85d3",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "donut",
    "title": "Nível da Água",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#ff0000", "#f4b400", "#00c853"],
    "x": 690,
    "y": 60,
    "wires": []
  },
  {
    "id": "e6b968d7e836a844",
    "type": "ui_text",
    "z": "4076b6a82d7e7c42",
    "group": "45d04c16074a85d3",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Status Texto",
    "label": "Status do Nível",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 700,
    "y": 100,
    "wires": []
  },
  {
    "id": "a2e0a651d7dbabca",
    "type": "ui_template",
    "z": "4076b6a82d7e7c42",
    "group": "45d04c16074a85d3",
    "name": "",
    "order": 4,
    "width": 6,
    "height": 2,
    "format": "<div style=\"background-color: {{msg.payload.background}}; color: white; text-align: center; font-size: 24px; padding: 10px; border-radius: 10px;\">\n    {{msg.payload.label}}\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 700,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "f3c8f6415859353b",
    "type": "ui_text",
    "z": "4076b6a82d7e7c42",
    "group": "45d04c16074a85d3",
    "order": 5,
    "width": 12,
    "height": 1,
    "name": "Aviso Inicial",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 690,
    "y": 180,
    "wires": []
  },
  {
    "id": "5504e73a40b42492",
    "type": "mqtt-broker",
    "name": "HiveMQ Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "45d04c16074a85d3",
    "type": "ui_group",
    "name": "Monitor de Esgoto",
    "tab": "2a5b5b9be0c0f151",
    "order": 1,
    "disp": true,
    "width": 12,
    "collapse": false,
    "className": ""
  },
  {
    "id": "2a5b5b9be0c0f151",
    "type": "ui_tab",
    "name": "Painel de Monitoramento",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
